<div class="row">
  <h1>Hard & Soft Skills</h1>
  <div class="col-sm-4 col-md-4 col-lg-4">
      <circle-progress
          [percent]="85"
          [radius]="90"
          [showUnits]="false"
          [imageSrc]="'../assets/CSS.png'"
          [showImage]="true"
          [imageHeight]="70"
          [imageWidth]="70"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="2"
          [outerStrokeColor]="'#008080'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="500">
      </circle-progress>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
      <circle-progress
          [percent]="85"
          [radius]="90"
          [showUnits]="false"
          [imageSrc]="'../assets/html.png'"
          [showImage]="true"
          [imageHeight]="70"
          [imageWidth]="70"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="2"
          [outerStrokeColor]="'#008080'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="500">
      </circle-progress>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
      <circle-progress
          [percent]="94"
          [radius]="90"
          [showUnits]="false"
          [imageSrc]="'../assets/trabajo.png'"
          [showImage]="true"
          [imageHeight]="90"
          [imageWidth]="90"
          [showSubtitle]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="2"
          [outerStrokeColor]="'#008080'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="500">
      </circle-progress>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
      <circle-progress
          [percent]="94"
          [radius]="90"
          [showUnits]="false"
          [imageSrc]="'../assets/pensamientos.png'"
          [showImage]="true"
          [imageHeight]="90"
          [imageWidth]="90"
          [showSubtitle]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="2"
          [outerStrokeColor]="'#008080'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="500">
      </circle-progress>
  </div>
<h1> Idiamos</h1>
  <div class="col-sm-4 col-md-4 col-lg-4">
      <circle-progress
          [percent]="65"
          [radius]="90"
          [showUnits]="false"
          [imageSrc]="'../assets/english.png'"
          [showImage]="true"
          [imageHeight]="70"
          [imageWidth]="70"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="2"
          [outerStrokeColor]="'#008080'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="500">
      </circle-progress>
  </div>
   <div class="col-sm-4 col-md-4 col-lg-4">
      <circle-progress
          [percent]="85"
          [radius]="90"
          [showUnits]="false"
          [imageSrc]="'../assets/portu.png'"
          [showImage]="true"
          [imageHeight]="100"
          [imageWidth]="100"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="2"
          [outerStrokeColor]="'#008080'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="500">
      </circle-progress>
  </div>
</div>
